Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
**/README.md
**/*.md
!TECH_STACK.md
.next
.gemini
yarn-debug.log
yarn-error.log
.cursorrules
.gitignore
.github
.git
.env*
docs/
dev-notes/
debug-tests/

